    @import url("breakpoints.css");
/* Pixtura Regular */
@font-face {
  font-family: "Pixtura";
  src: url("../fonts/PixturaFontFamily-Regular.woff2") format("woff2"),
       url("../fonts/PixturaFontFamily-Regular.woff") format("woff");
  font-weight: normal; /* ou 400 */
  font-style: normal;
}

/* Pixtura Bold */
@font-face {
  font-family: "Pixtura";
  src: url("../fonts/PixturaFontFamily-Bold.woff2") format("woff2"),
       url("../fonts/PixturaFontFamily-Bold.woff") format("woff");
  font-weight: bold; /* ou 700 */
  font-style: normal;
}

/* Pixtura Italic */
@font-face {
  font-family: "Pixtura";
  src: url("../fonts/PixturaFontFamily-Italic.woff2") format("woff2"),
       url("../fonts/PixturaFontFamily-Italic.woff") format("woff");
  font-weight: normal; /* L'italique est souvent en weight normal */
  font-style: italic;
}


h1 {
  font-family: "Pixtura", sans-serif;
  font-size: 10rem;
  font-style: normal;
  font-weight: normal;
  color: #DDDDDD;
  text-transform: uppercase;
  margin: 0; /* pas besoin d'auto avec flex */
}
h3 {
  font-family: "Pixtura", sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  color: #DDDDDD;
  text-transform: none;
  margin: 0; /* pas besoin d'auto avec flex */
}


span.class1 {
    font-weight: normal;
  }

  span.class1:hover {
    text-decoration: underline;
}


  /* ////// paragraphes ///// */

  p {
  font-family: "Pixtura", sans-serif;
  font-size: 22px;
  font-style: normal;
  color: #111111;
  margin: 0; /* pas besoin d'auto avec flex */
}

em, i {
  font-family: "Pixtura", sans-serif;
  font-style: italic; /* Utilise Pixtura Italic */
  font-weight: normal; /* Conserve le poids normal pour l'italique */
}

  /* liens */
  
  a {
    font-family: "Pixtura", sans-serif;
    color: #111111;
    text-decoration: none;
    font-weight: normal;
    transition: text-decoration .25s ease;
  }
  
  a:hover {
    text-decoration: revert-layer;
    font-family: "Pixtura", sans-serif;
    font-weight: normal;
    color: #DDDDDD;
  }

  a.active {
    font-family: "Pixtura", sans-serif;
    font-weight: normal;
    text-decoration: underline;
  }

    /* ////// Liens ////// */

    /*  Mise en page  */
    .container {
      display: grid;
      grid-template-columns: 0.5fr 2.2fr;
      grid-template-rows: 0.2fr 10.6fr 0.2fr;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 16px 16px;
      background-clip : content-box;
      background-color: #111111;
      grid-auto-flow: row;
      grid-template-areas:
        "HEADER HEADER"
        "Navigation TEXTE"
        "FOOTER FOOTER";
    }

#containeracceuil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  display: flex;
  flex-direction: column;   /* place h1 et h3 en colonne */
  justify-content: center;  /* centre verticalement */
  align-items: center;      /* centre horizontalement */
  z-index: 9999;
  transition: transform 0.5s ease-in-out;
}

#containeracceuil h1 {
  font-family: "Pixtura", sans-serif;
  font-size: 10rem;
  color: #DDDDDD;
  margin: 0 0 1rem 0; /* petit espace en dessous */
}

#containeracceuil h3 {
  font-family: "Pixtura", sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: #DDDDDD;
  margin: 0;
}

    
    .HEADER {
    grid-area: HEADER;
    }
    
    .Navigation {
    grid-area: Navigation;
    margin-top: 8vh;
    margin-left: 5vh;
    position: fixed;
    
  }
    
    .IMAGES {
    grid-area: TEXTE;
    overflow: auto;
    margin-right: 20vh;
    margin-left: 40vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    }
    
    .FOOTER {
      grid-area: FOOTER;
    }
    
    /* ////// Mise en page ////// */

    